[submodule "fcg-users-api"]
	path = fcg-users-api
	url = https://github.com/laviniaptrabuco/fcg-users-api.git
[submodule "fcg-catalog-api"]
	path = fcg-catalog-api
	url = https://github.com/laviniaptrabuco/fcg-catalog-api.git
[submodule "fcg-payments-api"]
	path = fcg-payments-api
	url = https://github.com/laviniaptrabuco/fcg-payments-api.git
[submodule "fcg-orchestration"]
	path = fcg-orchestration
	url = https://github.com/laviniaptrabuco/fcg-orchestration.git
[submodule "fcg-notifications-api"]
	path = fcg-notifications-api
	url = https://github.com/laviniaptrabuco/fcg-notifications-api.git
